<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.mnr.satellite.mapper.geo.IVectorTileMapper">

    <!-- MVT 瓦片查询 -->
    <select id="getVectorTile" resultType="java.lang.Object">
        WITH mvt_geom AS (
        SELECT
<!--        <foreach collection="visualizationFieldsList" item="field" separator=",">-->
<!--            ${field}-->
<!--        </foreach>,-->
        ST_AsMVTGeom(
        ST_Transform(original_table.geom, 3857),
        ST_TileEnvelope(#{z}, #{x}, #{y}),
        extent => 256, buffer => 64
        ) AS geom
        FROM "${tablename}" AS original_table
        WHERE ST_Intersects(ST_Transform(original_table.geom, 3857), ST_TileEnvelope(#{z}, #{x}, #{y}))
        )
        SELECT ST_AsMVT(mvt_geom, '${tablename}', 256, 'geom') AS mvt
        FROM mvt_geom;
    </select>

<!--    <select id="getVectorTileByParam" resultType="java.lang.Object" parameterType="nnu.mnr.satellite.model.pojo.common.TileBox">-->
<!--        SELECT ST_AsMVT(result, #{visualId}) AS tile-->
<!--        FROM (-->
<!--        SELECT-->
<!--            ST_AsMVTGeom(-->
<!--            geom,-->
<!--            ST_Transform(-->
<!--            ST_MakeEnvelope(-->
<!--                #{xMin,jdbcType=NUMERIC}, #{yMin,jdbcType=NUMERIC},-->
<!--                #{xMax,jdbcType=NUMERIC}, #{yMax,jdbcType=NUMERIC}, 4326),-->
<!--                3857),-->
<!--                4096,0,TRUE-->
<!--        ) AS geom,-->
<!--        <foreach collection="fieldList" item="field" separator=",">-->
<!--            ${field}-->
<!--        </foreach>-->
<!--        FROM ${name}-->
<!--        <where>-->
<!--            <if test="param != null and value != null">-->
<!--                ${param} = #{value}-->
<!--            </if>-->
<!--        </where>-->
<!--        ) AS result;-->
<!--    </select>-->


</mapper>