<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.mnr.satellite.mapper.geo.IVectorTileMapper">

    <!-- MVT 瓦片查询 -->
    <select id="getVectorTile" resultType="java.lang.Object">
        WITH mvt_geom AS (
        SELECT
<!--        <foreach collection="visualizationFieldsList" item="field" separator=",">-->
<!--            ${field}-->
<!--        </foreach>,-->
        ST_AsMVTGeom(
        ST_Transform(original_table.geom, 3857),
        ST_TileEnvelope(#{z}, #{x}, #{y}),
        extent => 256, buffer => 64
        ) AS geom
        FROM "${tableName}" AS original_table
        WHERE ST_Intersects(ST_Transform(original_table.geom, 3857), ST_TileEnvelope(#{z}, #{x}, #{y}))
        )
        SELECT ST_AsMVT(mvt_geom, '${tableName}', 256, 'geom') AS mvt
        FROM mvt_geom;
    </select>

    <select id="getVectorTileByBetweenParam" resultType="java.lang.Object">
        WITH mvt_geom AS (
        SELECT
        <!--        <foreach collection="visualizationFieldsList" item="field" separator=",">-->
        <!--            ${field}-->
        <!--        </foreach>,-->
        ST_AsMVTGeom(
        ST_Transform(original_table.geom, 3857),
        ST_TileEnvelope(#{z}, #{x}, #{y}),
        extent => 256, buffer => 64
        ) AS geom
        FROM "${tableName}" AS original_table
        WHERE ST_Intersects(ST_Transform(original_table.geom, 3857), ST_TileEnvelope(#{z}, #{x}, #{y}))
        AND ${param} BETWEEN #{valueStart} AND #{valueEnd}
        AND ST_Intersects(
        ST_Transform(original_table.geom, 4326),
        ST_GeomFromText(#{wkt}, 4326))
        )
        SELECT ST_AsMVT(mvt_geom, '${tableName}', 256, 'geom') AS mvt
        FROM mvt_geom
    </select>


</mapper>