# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode/
.idea/

# production
inDB.dist/
inDB.dist.zip

# misc
.DS_Store
*.pem


# py
output/
__pycache__/
*.pyc
worldgrid/
hytemp/

temp/

# mysql geometry converter
sql/
fixed/