server:
  tomcat:
    connection-timeout: 30000
  port: 8999

netty:
  websocket:
    port: 9888

mysql:
  host: 172.31.13.43
  port: 3306
  username: root
  password: ogms250410
pg:
  host: 172.31.13.21
  port: 5432
  username: postgres
  password: ogms250410

# 修改数据库级相应配置注意兼顾在线编程写死部分
spring:
  datasource:
    dynamic:
      primary: mysql-ard-satellite
      strict: false
      datasource:
        mysql-ard-satellite:
          url: jdbc:mysql://${mysql.host}:${mysql.port}/ard_satellite?useSSL=false&allowPublicKeyRetrieval=true
          username: ${mysql.username}
          password: ${mysql.password}
          driver-class-name: com.mysql.cj.jdbc.Driver
          type: com.alibaba.druid.pool.DruidDataSource
          druid:
            initial-size: 5
            max-active: 20
            min-idle: 5
            max-wait: 60000
            validation-query: SELECT 1
            init-connection-sqls: SET SESSION group_concat_max_len = 18446744073709551615
            filters: stat,wall
            wall:
              table-check: true
              drop-table-allow: false
              alter-table-allow: false
            stat:
              slow-sql-millis: 1000
              log-slow-sql: true
              merge-sql: true
        mysql-ard-iam:
          url: jdbc:mysql://${mysql.host}:${mysql.port}/ard_iam?useSSL=false&allowPublicKeyRetrieval=true
          username: ${mysql.username}
          password: ${mysql.password}
          driver-class-name: com.mysql.cj.jdbc.Driver
          type: com.alibaba.druid.pool.DruidDataSource
          druid:
            initial-size: 5
            max-active: 20
            min-idle: 5
            max-wait: 60000
            validation-query: SELECT 1
            init-connection-sqls: SET SESSION group_concat_max_len = 18446744073709551615
            filters: stat,wall
            wall:
              table-check: true
              drop-table-allow: false
              alter-table-allow: false
            stat:
              slow-sql-millis: 200
              log-slow-sql: true
              merge-sql: true
        mysql-ard-dev:
          url: jdbc:mysql://${mysql.host}:${mysql.port}/ard_dev?useSSL=false&allowPublicKeyRetrieval=true
          username: ${mysql.username}
          password: ${mysql.password}
          driver-class-name: com.mysql.cj.jdbc.Driver
          type: com.alibaba.druid.pool.DruidDataSource
          druid:
            initial-size: 5
            max-active: 20
            min-idle: 5
            max-wait: 60000
            validation-query: SELECT 1
            init-connection-sqls: SET SESSION group_concat_max_len = 18446744073709551615
            filters: stat,wall
            wall:
              table-check: true
              drop-table-allow: false
              alter-table-allow: false
            stat:
              slow-sql-millis: 200
              log-slow-sql: true
              merge-sql: true
        pg-satellite:
          url: jdbc:postgresql://${pg.host}:${pg.port}/satellite
          username: ${pg.username}
          password: ${pg.password}
          driver-class-name: org.postgresql.Driver
          type: com.alibaba.druid.pool.DruidDataSource
          druid:
            initial-size: 5
            max-active: 20
            min-idle: 5
            max-wait: 60000
            socket-timeout: 1200000
            validation-query: SELECT 1
            filters: stat,wall
            wall:
              table-check: true
              drop-table-allow: false
              alter-table-allow: false
            stat:
              slow-sql-millis: 1000
              log-slow-sql: true
              merge-sql: true
    # 全局 Druid 监控配置（对所有数据源生效）
    druid:
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        reset-enable: true
        allow: ""
        deny: ""
      web-stat-filter:
        enabled: true
        url-pattern: /*
        exclusions: "*.js,*.css,*.png,*.jpg,*.ico,/druid/*"
        session-stat-enable: true  # 启用 Session 监控

  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB
  data:
    redis:
      host: 172.31.13.21
      port: 6379
      database: 0
    mongodb:
      uri: mongodb://172.31.13.21:27017/PortalModel
  elasticsearch:
    uris: http://172.31.13.21:9200

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: nnu.mnr.satellite.model.po
  type-handlers-package: nnu.mnr.satellite.utils.typeHandler
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

#ca:
#  dir: D:/1tools/OpenSSL/ca

minio:
  access-key: 8q88Eh2XwPEEPxT1VSaG
  secret-key: vMsgWbHqUGt1B9Yl9E0ZEMzJsPAuEvZvsysyVYzO
  url: http://172.31.13.42:9000

docker:
  defaultServer:
    #    port: 2376
    #    host: "223.2.35.208"
    #    username: "vge"
    #    password: "3J44.njnu.edu.cn"
    #  serverDir: /home/vge/satellite/
    port: 2375
#    host: "172.31.13.20"
    host: "172.31.11.170"
    username: "root"
#    password: "Sasmac@123"
    password: "dky.njnu.edu.cn"
  localPath: /usr/resource/modelDockerVolume/
  serverDir: /home/satellite/
  workDir: /usr/local/coding/
  servicePortRange:
    start: 20080
    end: 20180
  serviceDefaults:
    internalPort: 20080
  faas:
    workDirSubdir: service

modelServer:
  address: http://172.31.13.23:5000
  apis:
    status: /v0/task/status
    result: /v0/task/result
    cancel: /v0/task/cancel
    merge: /v0/tif/merge_v2
    spectrum: /v0/tif/get_spectral_profile
    noCloud: /v0/tif/calc_no_cloud
    noCloud_complex: /v0/tif/calc_no_cloud_complex
    rasterPoint: /v0/tif/calc_raster_point
    rasterLine: /v0/tif/calc_raster_line
    ndvi: /v0/tif/calc_NDVI
    createLowLevelMosaic: /v0/mosaic/create_low_level_mosaic
    methlib: /v0/methlib
  interval:
    status: 2

srmodelServer:
  address: http://172.16.3.236:8000
  apis:
    status: /v0/task/status
    result: /v0/task/result
    SR: /v0/model/superresolution
  interval:
    status: 2

tiler:
  end-point: http://172.31.13.21:5050

satelliteConfig:
  path: /usr/resource/band_config.json
