server:
  port: 8999

netty:
  websocket:
    port: 9888

# localhost
mysql:
  host: 223.2.34.8
  port: 31036
  username: root
  password: 123456
pg:
  host: 223.2.34.8
  port: 31543
  username: postgres
  password: 123456

## k8s
#mysql:
#  host: 223.2.34.8
#  port: 31036
#  username: root
#  password: 123456
#pg:
#  host: 223.2.34.8
#  port: 31543
#  username: postgres
#  password: 123456

# 修改数据库级相应配置注意兼顾在线编程写死部分
spring:
  datasource:
    dynamic:
      primary: mysql-ard-satellite
      strict: false
      datasource:
        #        mysql_satellite:
        #          url: jdbc:mysql://${mysql.host}:${mysql.port}/satellite
        #          username: ${mysql.username}
        #          password: ${mysql.password}
        #          driver-class-name: com.mysql.cj.jdbc.Driver
        #          hikari:
        #            connection-init-sql: SET SESSION group_concat_max_len = 18446744073709551615
        mysql-ard-satellite:
          url: jdbc:mysql://${mysql.host}:${mysql.port}/ard_satellite
          username: ${mysql.username}
          password: ${mysql.password}
          driver-class-name: com.mysql.cj.jdbc.Driver
          hikari:
            connection-init-sql: SET SESSION group_concat_max_len = 18446744073709551615
        mysql-ard-iam:
          url: jdbc:mysql://${mysql.host}:${mysql.port}/ard_iam
          username: ${mysql.username}
          password: ${mysql.password}
          driver-class-name: com.mysql.cj.jdbc.Driver
          hikari:
            connection-init-sql: SET SESSION group_concat_max_len = 18446744073709551615
        mysql-ard-dev:
          url: jdbc:mysql://${mysql.host}:${mysql.port}/ard_dev
          username: ${mysql.username}
          password: ${mysql.password}
          driver-class-name: com.mysql.cj.jdbc.Driver
          hikari:
            connection-init-sql: SET SESSION group_concat_max_len = 18446744073709551615

        pg-satellite:
          url: jdbc:postgresql://${pg.host}:${pg.port}/satellite
          username: ${pg.username}
          password: ${pg.password}
          driver-class-name: org.postgresql.Driver
  #        mysql_tile:
  ##          url: jdbc:mysql://223.2.34.8:31036/tile
  #          url: jdbc:mysql://192.168.1.110:3306/tile
  #          username: root
  #          password: root
  ##          password: 123456
  #          driver-class-name: com.mysql.cj.jdbc.Driver
  #        pg_space:
  #          url: jdbc:postgresql://223.2.34.8:31543/gis_db
  ##                    url: jdbc:postgresql://127.0.0.1:5431/gis_db
  #          username: postgres
  #          password: 123456
  #          #          password: ogms250410
  #          driver-class-name: org.postgresql.Driver

  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB
  data:
    redis:
      host: 223.2.34.8
      port: 30379
      database: 0
    mongodb:
      uri: mongodb://OGMSROOT:ogms1qaz2wsx@172.21.252.208:23266/opengmp
  elasticsearch:
    uris: http://223.2.32.166:30920
#    uris: http://127.0.0.1:9200

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: nnu.mnr.satellite.model.po
  type-handlers-package: nnu.mnr.satellite.utils.typeHandler
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

#ca:
#  dir: D:/1tools/OpenSSL/ca

minio:
  #  access-key: jTbgNHEqQafOpUxVg7Ol
  #  secret-key: 7UxtrqhSOyN1KUeumbqTRMv1zeluLO69OwJnCC0M
  #  #  url: http://223.2.34.7:9000
  #  url: http://172.16.92.82:30900
  #  url: http://223.2.43.238:30900
  access-key: minioadmin
  secret-key: minioadmin
  url: http://223.2.34.8:30900

docker:
  defaultServer:
    #    port: 2376
    #    host: "223.2.35.208"mi
    #    username: "vge"
    #    password: "3J44.njnu.edu.cn"
    #  serverDir: /home/vge/satellite/
    port: 2375
    host: "223.2.35.153"
    username: "root"
    password: "dky.njnu.edu.cn"
  localPath: /Users/paxton/Documents/1_projects/2025-03_satellite/satellite-analysis/backEnd/src/main/resources/modelDockerVolume
  serverDir: /home/satellite/
  workDir: /usr/local/coding/
  servicePortRange:
    start: 20080
    end: 20180
  serviceDefaults:
    internalPort: 20080
  faas:
    workDirSubdir: service

modelServer:
  address: http://localhost:5001
  #  address: http://223.2.43.228:30500
  apis:
    status: /v0/task/status
    result: /v0/task/result
    cancel: /v0/task/cancel
    merge: /v0/tif/merge_v2
    spectrum: /v0/tif/get_spectral_profile
    noCloud: /v0/tif/calc_no_cloud
    noCloud_complex: /v0/tif/calc_no_cloud_complex
    eoCube: /v0/tif/calc_eo_cube
    rasterPoint: /v0/tif/calc_raster_point
    rasterLine: /v0/tif/calc_raster_line
    ndvi: /v0/tif/calc_NDVI
    createLowLevelMosaic: /v0/mosaic/create_low_level_mosaic
    methlib: /v0/methlib
  interval:
    status: 2

srmodelServer:
  address: http://nrspeclib.sasclouds.com:33445
  apis:
    status: /v0/task/status
    result: /v0/task/result
    SR: /v0/model/superresolution
  interval:
    status: 2

tiler:
  end-point: http://223.2.34.8:31800/

satelliteConfig:
  path: /Users/paxton/Documents/1_projects/2025-03_satellite/satellite-analysis/backEnd/src/main/resources/config/band_config.json
#  path: F:/satellite-analysis/backEnd/src/main/resources/config/band_config.json

